# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/Plansza.class
/main.class
/TimerExample$1.class
/TimerExample$CountdownTimerListener.class
/TimerExample.class
/Zadanie.class
/Gra.class
/dadad.class
/Zegar$1.class
/Zegar$CountdownTimerListener.class
/Zegar.class
/Gra$STATE.class
/Labirynt.class
/Menu.class
/BufferedImageLoader.class
/bin/
